body {
    background-color: #FBF9F4;
}

/* .navbar {
    justify-content: space-between;
} */

.signin-container {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(36, 35, 35, 0.9);    
	background-attachment: fixed;
    min-height: 100vh;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .navbar-nav .nav-link {
    display: block;
    font-weight: 500;
    padding: 1rem 1rem;
    margin: 0 .2rem;
}

.navbar .navbar-nav .active>.nav-link {
    color: rgba(0,0,0,.9);
    /* border-bottom: 2px solid #FD6000; */
}

.navbar .navbar-nav .nav-link {
	position: relative;
}

.navbar .navbar-nav .active>.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    transform-origin: center;
    height: 2px;
    width: 100%;
    background: #FD6000;
}

.navs a {
	color: white;
	font-weight: 500;
	font-size: 24px;
	padding: .5rem 0rem;
}

.navs .active {
	color: #FD6000;
    border-bottom: 2px solid #FD6000;
}

.signin-left-title-login {
    color: #FD6000;
    border-bottom-color: #FD6000;
    margin-bottom: 20px;
    border-bottom-style: solid;
}

.signin-right-title {
    margin-bottom: 20px;
    font-weight: lighter;
    color: white;
}

.btn-social {
    color: white;
    margin-top: 15px;    
    width: 100%;
    /* padding: 8px 100px 8px 100px; */
}

@media (max-width: 955px) {
	.or-athenticate::before {
		content: "";
		position: absolute;
		top: 30%;
		left: 0;
		transform: translateY(-50%);
		height: 1px;
		width: 150px;
		background: white;
		opacity: 0.5;
	}

	.or-athenticate::after {
		content: "";
		position: absolute;
		bottom: 70%;
		right: 0;
		height: 1px;
		width: 150px;
		background: white;
		opacity: 0.5;
	}
}

@media (min-width: 955px) {
	.or-athenticate::after {
		content: "";
		position: absolute;
		bottom: 75px;
		height: 100px;
		width: 1px;
		background: white;
		opacity: 0.5;
	}

	.or-athenticate::before {
		content: "";
		position: absolute;
		top: 60px;
		height: 100px;
		width: 1px;
		background: white;
		opacity: 0.5;
	}
}

.remember_me_checkbox {
    width: 20px;
    height: 20px;
}

/* The container */

.remember_me_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    margin-top: 25px;
}

/* Hide the browser's default checkbox */

.remember_me_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.remember_me_label:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.remember_me_label input:checked~.checkmark {
    background-color: #FD6000;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.remember_me_label input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.remember_me_label .checkmark:after {
    left: 6px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jumbotron {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shopping-bag-full-of-fresh-vegetables-and-fruits-royalty-free-image-1128687123-1564523576.jpg?crop=1.00xw:0.751xh;0,0.212xh&resize=980:*");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    position: relative;
    height: 300px;
    margin-bottom: 0px;
}

.card-title-transparent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 35, 35, 0.6);
    border-radius: 2px;
    /* padding: 0px 20px 0px 20px; */
    margin: 10px;
}

.card-title-transparent h5 {
    color: white;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    margin-top: 3px;
}

.card-title-transparent hr {
    background-color: #E0DD0D;
    margin: 0px;
    margin-bottom: 4px;
    height: 2px;
}

.card-footer-transparent {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(36, 35, 35, 0.6);
    padding: 3px 15px 3px 15px;
    margin: 10px;
    border-radius: 2px;
}

.card-footer-transparent h5 {
    color: white;
    font-size: 12px;
    margin-top: 3px;
}

.card-body-actions {
    display: flex;
    justify-content: space-between;
    float: right;
}

.card-body-actions a {
    color: #FD6000;
}

.section-title-button {
    background-color: #FD6000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #FD6000;
    margin-bottom: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-section {
    width: fit-content;
    background: none;
}

.article-section hr {
    height: 2px;
    background-color: #FD6000;
    margin: 0;
    margin-bottom: 10px;
}

.article-mini-title {
    color: #FD6000;
}

.card {
    margin-bottom: 20px;
}

.card-header .listing {
    background-color: #FBF9F4;
}

.footer {
    display: flex;
    align-items: flex-end;
    padding: 5px;
    background-color: #4E443E;
    justify-content: space-between;
}

.footer-center {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.footer-center a {
    color: white;
    font-size: 12px;
}

.footer-center .copyright {
    color: #FD6000;
}

.footer-right {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.footer-right a, .footer-right p {
    color: #FD6000;
    margin-left: 10px;
}

.contentu-container {
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenu-title {
    background-color: #FD6000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 3px 10px;
    margin-top: 10px;
}

.contenu-title p {
    /* margin-top: 5px; */
}

.contenu {
    border-style: none;
    width: 100%;
    background: transparent;
}

.btn-primary2 {
    color: white;
    background-color: #FD6000;
    border-color: #FD6000;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 12px;    
}

.input-group {
    margin-top: 10px;
}

.input-group-text {
    background-color: #FD6000;
    border-style: none;
}

.input-group .form-control {
    border-style: none; 
}

.image-dropzone {
    border-style: dashed;
    border-width: 2px;
    border-color: #c2c2c2;
    background-color: #F8F8F8;
    text-align: center;
    padding: 100px 0px 100px 0px;
    margin-top: 70px;
    width: 70%;
    border-radius: 5px;
}

.tag-container {
    border-color: #FD6000;
    border-top-style: solid;
    border-bottom-style: solid;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.tag-container p {
    margin-top: 10px;    
}

.tag-container img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 5px;
}

.text-primary-color {
    color: #FD6000;
}

.bg-primary-color {
    background-color: #FD6000;
}