body{
    background-color: #FBF9F4;
}

.navbar {
    justify-content: space-between;
}

.signin-container {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(36, 35, 35, 0.9);
    width: 100%;
    height: 100vh;
}

.signin-left-title-login {
    color: #FD6000;
    border-bottom-color: #FD6000;
    margin-bottom: 20px;
    border-bottom-style: solid;
}

.signin-right-title {
    margin-bottom: 20px;
    font-weight: lighter;
    color: white;
}

.btn-social {
    color: white;
    margin-top: 15px;
    /* padding: 8px 100px 8px 100px; */
}

.login-left {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.login-right {
    display: flex;
    flex-direction: column;
    padding: 100px;
    text-align: center;
}

.membership {
    text-align: center;
}

.remember_me_checkbox {
    width: 20px;
    height: 20px;
}

/* The container */

.remember_me_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    margin-top: 25px;
}

/* Hide the browser's default checkbox */

.remember_me_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.remember_me_label:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.remember_me_label input:checked~.checkmark {
    background-color: #FD6000;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.remember_me_label input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.remember_me_label .checkmark:after {
    left: 6px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jumbotron {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shopping-bag-full-of-fresh-vegetables-and-fruits-royalty-free-image-1128687123-1564523576.jpg?crop=1.00xw:0.751xh;0,0.212xh&resize=980:*");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    position: relative;
    height: 300px;
    margin-bottom: 0px;
}

.card-title-transparent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 35, 35, 0.6);   
    border-radius: 2px;
    /* padding: 0px 20px 0px 20px; */
    margin: 10px;
}

.card-title-transparent h5 {
    color: white;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    margin-top: 3px;
}

.card-title-transparent hr {
    background-color: #E0DD0D;
    margin: 0px;
    margin-bottom: 4px;
    height: 2px;
}

.card-footer-transparent {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(36, 35, 35, 0.6);        
    padding: 3px 15px 3px 15px;
    margin: 10px;
    border-radius: 2px;
}

.card-footer-transparent h5 {
    color: white;
    font-size: 12px;
    margin-top: 3px;
}

.card-body-actions {
    display: flex;
    justify-content: space-between;
    float: right;
}

.card-body-actions a {
 color: #FD6000;
}

.section-title-button {
    background-color: #FD6000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #FD6000;
    margin-bottom: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-section {
    width: fit-content;
    
    background: none;
}

.article-section hr {
    height: 2px;
    background-color: #FD6000;
    margin: 0;
    margin-bottom: 10px;
}

.article-mini-title {
    color: #FD6000;
}

.card{
    margin-bottom: 20px;
}

.card-header {
    background-color: #FBF9F4;
}